
body{
    background: #ffffff;
    
}
.container{

    background: #50858B;

    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;     
    box-shadow: 0 0 13px 0 rgba(40, 40, 40, 0.765);

}
#center{
    display: flex;
    height: 60px;
    width: 80px;
    flex-direction:column;
    justify-content: space-between;    
}
.line{
    width: 80px;
    height: 8px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.6);
    margin-left: auto;
    margin-right: auto;
}
.one{
    animation-name:line_one ;
    animation-duration: 1s ;
    animation-fill-mode: forwards;
}
.two{
    animation-name:line_two ;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.three{
    animation-name:line_three ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes line_one{
    0% { transform: translate(0, 0) rotate(0); }            
    50% { transform: translate(0, 27px) rotate(0); }      
    100% { transform: translate(0, 27px) rotate(45deg); }    
}
@keyframes line_three{
    0% { transform: translate(0,0) rotate(0);}
    50% { transform: translate(0,-27px) rotate(0);}
    100% { transform: translate(0,-27px) rotate(135deg);}
}
@keyframes line_two{
    0%{opacity: 1;width: 70px; }
    50%{opacity: 0.5;width: 60px;}
    100%{opacity: 0;width: 30px;}
}
